.DS_Store
xcuserdata
xcuserdatad
*.swp
.svn
.#*
tottepost/UserVoiceAPIKey.h
tottepost/PhotoSubmitter/PhotoSubmitterAPIKey.h
tottepost.xcworkspace/xcuserdata/ishitoya.xcuserdatad/UserInterfaceState.xcuserstate
