.DS_Store
tottepost/PhotoSubmitter/PhotoSubmitterAPIKey.h
tottepost.xcodeproj/project.xcworkspace/xcuserdata/
tottepost.xcodeproj/xcuserdata/
tottepost.xcodeproj/xcuserdata/ishitoya.xcuserdatad/xcschemes/
