.DS_Store
tottepost/PhotoSubmitter/PhotoSubmitterAPIKey.h
tottepost.xcodeproj/project.xcworkspace/xcuserdata/
tottepost.xcodeproj/xcuserdata/
*.swp
.svn
.#*

tottepost.xcodeproj/project.xcworkspace/contents.xcworkspacedata
